AddDefaultCharset UTF-8

Options -Indexes

DirectoryIndex index.php

ErrorDocument 404 http://instagram/not_found.html


RewriteEngine On
RewriteBase /


RewriteCond %{REQUEST_URI} ^/user/subscribe/$ [OR]
RewriteCond %{REQUEST_URI} ^/user/unSubscribe/$ [OR]
RewriteCond %{REQUEST_URI} !^/user/.*/$ 
RewriteRule ^www/([a-z]+)/([a-zA-Z]+)/$ /?controller=$1&action=$2&%{QUERY_STRING} [L,QSA]


RewriteRule ^www/user/([a-zA-Z0-9]+)/$ /?controller=user&action=index&id=$1 [L]

