*{
	margin: 0;
	padding: 0;
}


header{
	background: red;
	float: left;
	width: 100%;
}

h1{
	float: left;
}

form{
	margin-left: 40%;
}

#userInfo{
	float: right;
}


footer{
	float: right;
}

.show{
	display: block;
}

.hidden{
	display: none;
}



.background_form_show{
	display: none;
    position: fixed;
    left: 0;
  	top: 0;
  	right: 0;
  	bottom: 0;
  	background: rgba(255, 186, 0, 0.7);

	
}

#form_publications{
	background: red;
}