*{
	margin: 0;
	padding: 0;
}

html{
	font-family: sans-serif;
	font-size: 14px;
}

body{
	background: #F6F5F5;

}

header{
	background: white;
	float: left;
	width: 100%;
	height: 80px;
	border-bottom: 1px solid #dedede;
}

#header_content{
	
	float: left;
	width: 100%;
	height: 100%;
}

#header_content > h1{
	margin: 1%;
	font-weight: 300;
	
}
#header_content > h1 > a{
	text-decoration: none;
	color:black;
}

#userInfo{
	margin: 1%;
	position: relative;
	height: 60%;
}


#userInfo > img{
	height: 35px;
	width: 35px;
	border-radius: 50%;
	margin-top: 5px;
	margin-right: 5px;
	float: right;
}

#userInfo > #my_login{
	float: right;
	margin-top: 13px;
	text-decoration: none;
	font-weight: 600;
	

}

#notification{
	display: inline-block;
	width: 40px;
	height: 40px;
	position: relative;
	margin-right: 50px;
	margin-top: 5px;
	cursor: pointer;
}

#notification > i{
	font-size: 30px;
}

#notification > span{
	position: absolute;
	top: 0;
	left: 20px;
	padding: 1px 3px 1px 3px;
	border-radius: 30%;
	font-size: 12px;
	background: #018DDE;
}

#window_notification{
	min-width: 450px;
	min-height: 150px;
	max-width: 450px;
	height: auto;
	max-height: 500px;
	background: white;
	position: absolute;
	right: 170px;
	z-index: 100;
	overflow-y: auto;
	box-shadow: 10px 10px 30px -6px rgba(148,129,148,1);
	border-radius: 3px;
}

#window_notification > ul{
	width: 100%;
	list-style-type: none;
	float: left;
}
#window_notification > ul > #empty_notification{
	font-size: 18px;
	text-align: center;
	margin-top: 60px;
}
#window_notification > ul > li{
	float: left;
	width: 100%;
	display: inline-block;
	min-height: 60px;
	position: relative;
}

#window_notification > ul > .long_date{
	background: #ebe8e8;
}


#window_notification > ul > li > a > img{
	width: 40px;
	height: 40px;
	border-radius: 50%;

	position: absolute;
	top: calc(50% - 20px);
	left: 10px;
	

}
#window_notification > ul > li > p{
	margin: 10px 10px 10px 0;
	width: calc(100% - 70px);
	float: right;


}

#window_notification > ul > li > p > a{
	text-decoration: none;
	font-weight: 600;
}

#window_notification > ul > li > p > span{
	color: #1EACFE;
}

#window_notification > ul > li > p > .date{
	color: black;
	font-size: 12px;
}

h1{
	float: left;
}

#form_search{
	position: relative;
	float: left;
	margin-left: 25%;
	display: inline-block;
}

#search{
	height: 20px;
	margin-top: 20px;
	width: 300px;
	padding: 5px;
	font-size: 15px;
	outline: none;
	border: 1px solid silver;
	background: #F6F5F5;
	text-align: center;
}

#search:focus{
	background: white;
	text-align: left;
}

#form_search > ul{
	position: absolute;
	width: 99.3%;
	max-height: 500px;
	overflow-y: auto;
	z-index: 100;
	list-style-type: none;
	border: 1px solid silver;
	border-top: none;
	overflow-x: hidden;
	box-shadow: 0px 6px 23px -2px rgba(97,97,97,1);
	background: white;
}

#form_search > ul > a > li{
	width: 99.4%;
	float: left;
	padding: 5px;
	font-size: 15px;
	cursor: pointer;
	overflow: hidden;
}
#form_search > ul > a > li:hover{
	background: #F2F2F2;
}
#form_search > ul > a{
	display: block;
	float: left;
	width: 100%;
}

#form_search > ul > a > li{
	height: 100%;
	width: 100%;
	
	
}


#form_search > ul > a > li > img{
	width: 40px;
	height: 40px;
	border-radius: 50%;
	float: left;
	margin-right: 5px;
}

#form_search > ul > a > li > div{
	width: 100%;
	padding: 6px 0 6px 0;
}

#form_search > ul >  a > li > div > .name{
	font-size: 12px;
	font-weight: 600;
}

#userInfo{
	float: right;
}



.show{
	display: block;
}

.hidden{
	display: none;
}



.background_form_show{
	width: 100%;
	height: 100%;
	position: absolute;
	left: 0;
	top: 0;
	bottom: 0;
	right: 0;
	z-index: 2;
	background: rgba(0, 0, 0, 0.3);
}

#form_publications{
	width: 30%;
	height: 500px;
	background: white;
	margin: 5% auto;
	overflow: hidden;
	border: 1px solid #dedede;
	border-radius: 5px;
}

#form_publications > #form{
	width: 90%;
	display: inline-block;
	margin: 5%;
}

#form_publications > #form > p{
	float: left;
	width: 100%;
	font-size: 18px;
}

#form_publications > #form > input{
	float: left;
}

#form_publications > #form > textarea{
	float: left;
	width: 92%;
	height: 100px;
	font-size: 16px;
	padding: 5px;
	outline: none;
	border: 1px solid #dedede;
}

#form_publications > #form > #send{
	padding: 5px;
	background: #1EACFE;
	cursor: pointer;
	border: 1px solid #1EACFE;
	color: white;
	transition: 0.2s;
	outline: none;
	float: right;
	margin-right: 5%;
	border-radius: 3px;
}

#form_publications > #form > #send:hover{
	background: #018DDE;
	border: 1px solid #018DDE;
	transition: 0.2s;
}

#form_publications > #form > #file{
	width: 100%;
	margin-bottom: 5%;
	margin-top: 5%;
}


.table_publications{
	width: 100%;	
}

.center_content{
	padding-left: 10%;
	width: 78%;
	margin: 0 auto;
	display: flex;
	flex-wrap: wrap;
	justify-content: flex-start;

}

.item_publication{
	margin: 15px;
	width: 293px;
	height: 293px;
	position: relative;
	z-index: 1;

}

.item_publication >  img{
	width: 100%;
	height: 100%;
}

.background_publication{
	opacity: 0.0;
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	color: white;
	background: rgba(0, 0, 0, 0.3);
}

.background_publication:hover{
	opacity: 1.0;
}

.likes_comment{
	margin-top: 128px;
	text-align: center;
}
.likes_comment > span{
	margin-right: 20px;
	margin-left: 20px;
}



#delete_publication{
	position: absolute;
	right: 0;
	top: 0;
	cursor: pointer;
	color: #e3e3e3;
}

.background_window_pub{
	position: absolute;
	top:0;
	left: 0;
	right: 0;
	bottom: 0;
	background: rgba(0, 0, 0, 0.6);
	z-index: 3;
}

.visible_big_publication{
	position: fixed;
	top: 10%;
	left: 17%;
	width: calc(68% - 40px);
	height: 600px;
	background: white;
	margin: 0 auto;
	
}

.visible_big_publication > #photo_publication{
	width: 65%;
	height: 100%;
}

#right_block_pub{
	float: right;
	width: 35%;
	height: 100%;
}

#right_block_pub > #head_window{
	width: 94%;
	margin: 0 3% 0 3%;
	height: 10%;
	border-bottom: 1px solid silver;
}

#right_block_pub > #head_window > a > img{
	float: left;
	width: 45px;
	height: 45px;
	border-radius: 50%;
	margin: 3% 3% 3% 0;

}

#right_block_pub > #head_window > a > #user_login{
	float: left;
	vertical-align: top;
	margin-top: 7%;
	font-weight: 600;
}

#right_block_pub > #article_publication{
	float: left;
	margin: 0 0 0 3%;
	height: 10%;
	overflow-wrap: break-word;
	overflow: auto;
	width: 97%;
	padding-top: 3%; 
}

#right_block_pub > .hashtags{
	float: left;
	width: 97%;
	height: 10%;
	overflow-wrap: break-word;
	overflow: auto;
	margin: 3% 0 0 3%;
	
}

#right_block_pub > .hashtags > span > a{
	color: #1EACFE;
	text-decoration: none;
}

#right_block_pub > #list_comments{
	float: left;
	width: 97%;
	height: 38%;
	overflow-wrap: break-word;
	overflow: auto;
	margin: 0 0 0 3%;
}

#right_block_pub > input{
	float: left;
	width: 94%;
	height: 3%;
	outline: none;
	border: none;
	padding: 6% 3% 6% 3%;
	font-size: 15px;

	
}

#right_block_pub > #buttons{
	float: left;
	width: 94%;
	margin: 3% 3% 0 3%;
	height: 15%;
	padding-top: 3%;
	border-top: 1px solid silver;
	border-bottom: 1px solid silver;
	
}

#right_block_pub > #buttons > button{
	border: none;
	background: none;
	cursor: pointer;
	outline: none;
}


#right_block_pub > #buttons > button > img{
	width: 30px;

}

#list_comments > li{
	width: 100%;
	
	display: block;
	height: auto;
	
	position: relative;
}


.comment_error::-webkit-input-placeholder { color: red; };

#login{
	font-weight: 700;
	float: left;

}

.item_comment{
	width: 82%;
	display: block;
	float: left;
	height: auto;
	
	padding-right: 12%;
	
}

#list_comments > li > button{
	border: none;
	background: none;
	cursor: pointer;
	outline: none;
	display: block;
	position: absolute;
	top: calc(50% - 7px);
	right: 7px;
	
}
#list_comments > li >  button > img{
	height: 14px;
}

#list_comments > li >  button > span{
	font-size: 11px;
}

#list_comments > li > #pub_date_comment{
	font-size: 10px;
	clear: left;
}

#list_comments > li > #count_like{
	font-size: 10px;
	clear: left;
}


#user_info_block{
	
	width: 100%;
	text-align: center;
	float: left;
	min-height: 300px;
}

#user_content{
	width: 900px;
	display: inline-block;
	text-align: left;
	min-height: 300px;
	border-bottom: 1px solid silver;
}

#user_content > img{
	height: 150px;
	width: 150px;
	border-radius: 50%;
	float: left;
	margin: 70px;
}

#user_info{
	float: left;
	width: 65%;
	margin-top: 70px;
}

#header_block_user_info{
	width: 100%;
	display: inline-block;
	height: 40px;
}

#login_user{
	font-size: 24px;
	float: left;
	display: inline-block;
}


#header_block_user_info > ul{
	list-style-type: none;
	float: left;
	width: 40px;
	background: #1EACFE;
	padding-top: 5px;
	padding-bottom: 5px;
	text-align: center;
	margin-left: 30px;
	cursor: pointer;
	border-radius: 5px;
	transition: 0.2s;
	color: white;
}

#header_block_user_info > ul:hover{
	background: #018DDE;
	transition: 0.2s;
}


#list_down > ul{
	position: absolute;
	list-style-type: none;
	border: 1px solid #dedede;
	background: white;
	box-shadow: 10px 10px 30px -6px rgba(148,129,148,1);
}

#list_down > ul > li{
	cursor: pointer;
}



#list_down > ul > li > .item_list_settings_user{
	padding-top: 5px;
	padding-bottom: 5px;
	background: none;
	text-decoration: none;
	color: #1EACFE;
}


#header_block_user_info > .user_action{
	float: left;
	width: 100px;
	padding-top: 5px;
	padding-bottom: 5px;
	margin-left: 20px;
	cursor: pointer;
	outline: none;
	margin-top: 5px;
	border: 1px solid #018DDE;
	color: white;
	transition: 0.2s;
	outline: none;
	border-radius: 3px;	
	background: #1EACFE;

}
#header_block_user_info > .user_action:hover{
	background: #018DDE;
	border: 1px solid #018DDE;
	transition: 0.2s;
}




.show_item{
	display: block;
	width: 200px;
	
}

.show_item > a{
	display: block;
	padding-top: 5px;
	padding-bottom: 5px;
}

.show_item > button{
	padding-top: 8px;
	padding-bottom: 8px;
	width: 100%;
	border: none;
	cursor: pointer;
	outline: none;
	font-size: 14px;
}


.count_info{
	display: inline-block;
	margin-top: 30px;
	font-size: 18px;
	margin-right: 30px;
	clear: left;
	cursor: pointer;
}

.count_info > .number{
	font-weight: 700;
}


#about_block{
	width: calc(68% - 40px);
	float: left;
	margin-top: 3%;
}

#head2_page{
	margin: 0 auto;
	width: 65%;
	clear: both;
	height: 150px;
}

#head2_page > h1{
	margin: 30px 0 10px 0;
	width: 100%;
}

#head2_page > p{
	
}

#bg_popup_window{
	position: absolute;
	top:0;
	left: 0;
	right: 0;
	bottom: 0;
	background: rgba(0, 0, 0, 0.6);
	z-index: 3;
}

#popup_window_user_list{
	position: fixed;
	width: 350px;
	height: 500px;
	background: white;
	top: calc(50% - 250px);
	left: calc(50% - 175px);
	z-index: 200;
	border-radius: 10px 10px 0 10px;
	

}

#popup_window_user_list > #head{
	width: 100%;
	height: 35px;
	border-radius: 10px 10px 0 0;
	text-align: center;
	margin: 5px 0 5px 0;
	border-bottom: 1px solid silver;
}

#popup_window_user_list > #list_users{
	width: 100%;
	max-height: 454px;
	float: left;
	overflow-x: hidden;
	overflow-y: auto;
	border-radius: 0 0 0 10px;
	
}


#popup_window_user_list > #list_users > ul{
	width: 100%;
	float: left;
	max-height: 454px;

}

#popup_window_user_list > #list_users > ul > li{
	width: 100%;
	float: left;
	
	
}
#popup_window_user_list > #list_users > ul > li > div > a{
	width: 50%;
	text-decoration: none;
	float: left;
	margin-top: 10px;
}

#popup_window_user_list > #list_users > ul > li > a > img{
	width: 40px;
	height: 40px;
	border-radius: 50%;
	margin: 10px;
	float: left;
}

#popup_window_user_list > #list_users > ul > li > div > a > #login{
	font-weight: 600;
}

#popup_window_user_list > #list_users > ul > li > div > a > #name{
	font-size: 13px;
}

#popup_window_user_list > #list_users > ul > li > #btn{
	float: right;
	margin-top: 20px;
	margin-right: 10px;
}


#backgroud_form_settings{
	margin-left: 30%;
	clear: both;
	border: 1px solid silver;
	width: 40%;
	display: inline-block;
	border-radius: 5px;
	margin-top: 50px;
	background: white;
}

#backgroud_form_settings > #head{
	width: 100%;
	border-bottom: 1px solid silver;
	height: 50px;
	float: left;
}

#backgroud_form_settings > #head > h2{
	margin: 10px;
	float: left;
}

#backgroud_form_settings > #form_settings{
	width: 100%;
	
	float: left;
}

#backgroud_form_settings > #form_settings > ul{
	list-style-type: none;
	width: 90%;
	margin: 5% 5% 0 5%;
	float: left;
}

#backgroud_form_settings > #form_settings > ul > li{
	width: 100%;
	display: inline-block;
	min-height: 60px;
	
}

#backgroud_form_settings > #form_settings > ul > li > img{
	width: 60px;
	height: 60px;
	border-radius: 50%;
	float: left;
	margin-right: 4%;
	margin-left: 23%;
}

#backgroud_form_settings > #form_settings > ul > li > .label {
	margin-top: 15px;
	margin-right: 10px;
	font-size: 20px;
	display: inline-block;
	float: right;
	
	
}


#backgroud_form_settings > #form_settings > ul > li > #login{
	font-size: 20px;
}

#backgroud_form_settings > #form_settings > ul > li > span{
	font-size: 18px;

}

textarea{
	width: 50%;
	min-height: 100px;
	resize: none;
	float: right;
	display: inline-block;
	padding: 3px;
	font-size: 18px;
	margin: 2% 10% 4% 0;
}

#backgroud_form_settings > #form_settings > ul > li > .pole{
	font-size: 16px;
	float: right;
	padding: 3px;
	margin: 3% 10% 4% 0;
	width: 50%;
	transition-property: padding, box-shadow;
	transition-duration: 0.2s;
	outline: none;
	border: 1px solid rgba(163,163,163,1);

}


#backgroud_form_settings > #form_settings > ul > li > .pole:focus{
	padding: 10px;
	transition-property: padding, box-shadow;
	transition-duration: 0.2s;
	box-shadow: 0px 8px 36px -1px rgba(163,163,163,1);
}

#btn_save{
	float: right;
	padding: 5px 10px 5px 10px;
	margin: 4% 10% 4% 0;
	clear: right;
	background: #1EACFE;
	cursor: pointer;
	border: 1px solid #1EACFE;
	color: white;
	transition: 0.2s;
	outline: none;
	border-radius: 3px;
}

#btn_save:hover{
	background: #018DDE;
	border: 1px solid #018DDE;
	transition: 0.2s;
}

#msg_btn_confirmed{
	width: 100%;
}

#msg_btn_confirmed > p{
	margin: 10px;
	text-align: center;
}
#msg_confirmed{
	margin: 10px;
	text-align: center;
}

#msg_btn_confirmed > button{
	padding: 5px;
	background: #1EACFE;
	cursor: pointer;
	border: 1px solid #1EACFE;
	color: white;
	transition: 0.2s;
	outline: none;
	border-radius: 3px;
	float: right;
	margin-top: 10px;
	margin-right: 10px;
}

#msg_btn_confirmed > button:hover{
	background: #018DDE;
	border: 1px solid #018DDE;
	transition: 0.2s;
}

#backgroud_form_settings > #form_settings > ul > li > .error{
	float: right;
	margin: 0 10% -3% 0;
}

#backgroud_form_settings > #form_settings > ul > li > .error_form{
	float: right;
	
	margin: 0 10% -3% 0;
}


#bg_popup_confirmation{
	position: absolute;
	top:0;
	left: 0;
	right: 0;
	bottom: 0;
	background: rgba(0, 0, 0, 0.6);
	z-index: 3;
}

#bg_popup_confirmation > #form{
	height: 100px;
	width: 300px;
	position: fixed;
	top: calc(50% - 50px);
	left: calc(50% - 150px);
	background: white;
}